.cmp-btn{
    position: fixed;
    bottom: 15px;
    left: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 46px;
    height: 46px;
    flex: 0 0 46px;
    border-radius: 16px;
    font-weight: 500;
    color: #f2f1f3;
    font-size: 16px;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: var(--color3);
    transition: all 0.3s ease-in-out;
    z-index: 10;
    display: none;
}

/* ---
Flash Message Popup Start
--- */

.flash-message-popup {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1100;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 10px 10px 50px;
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(5px);
    background: #0000004d;
    transition: all 0.3s ease-in-out;
}

.flash-message-popup.fmp-active {
    opacity: 1;
    visibility: visible;
}

.flash-message {
    background-color: white;
    border-radius: 10px;
    padding: 20px 15px;
    max-width: 450px;
    width: 95%;
    position: relative;
    position: fixed;
    left: 50%;
    bottom: 50px;
    transform: translate(-50%, 20px);
    opacity: 0;
    visibility: hidden;
    z-index: 1101;
    box-shadow: 0 0 15px #0000003d;
    transition: all 0.3s cubic-bezier(0.215, 0.610, 0.355, 1);
}

.flash-message-inner {
    display: flex;
    align-items: center;
}

.flash-message.fmp-message {
    transform: translate(-50%, 0px);
    opacity: 1;
    visibility: visible;
}

.flash-message .flash-img {
    width: 30px;
    height: 30px;
    flex: 0 0 30px;
    margin-right: 10px;
    align-self: self-start;
}

.flash-message.ef-msg .flash-text h6 {
    font-weight: 500;
    font-size: 20px;
    color: var(--color4);
    margin-bottom: 0px;
}

.flash-message.sf-msg .flash-text h6 {
    font-weight: 500;
    font-size: 20px;
    color: var(--color3);
    margin-bottom: 0px;
}

.flash-message .flash-text p {
    color: black;
    font-size: 16px;
    line-height: 1.3;
    font-weight: 400;
    margin: 0;
    margin-top: 3px;
}

.flash-message .msg-close {
    right: 5px;
    top: 5px;
    width: 35px;
    height: 35px;
    color: black;
}

.flash-message .msg-close:hover {
    color: var(--color4);
    background-color: transparent;
    transform: rotate(90deg);
}

.flash-message .msg-close svg {
    width: 100%;
    height: 100%;
}